body {
	background-color: black;
}

.beetlejuice {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.nightmare {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.frankenweenie {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.sleepyhollow {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.nine {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.coraline {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.sicssor {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.mars {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.bigfish {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.corpsebride {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.sweeney {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.bigeyes {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.peewee {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.apes {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.james {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.charlie {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.miss {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}

.dark {
	position: absolute;
	padding-top: 100px;
	padding-left: 250px;
}